.conatainer{
    width: 70px;
margin-right: 0 auto;
}



*{
box-sizing: border-box;

}





.jkj{
    text-align: center;
    margin: auto;
}
.qw{
    width: 65px;
    height: 0.03rem;
    margin-top: 60px;
}
body {
height: 2000px;
    background-color: rgb(164, 142, 185);
}
.main{
    width:250px;
    height: 250px;
    background-color: white;
    text-align: center;
    
}
.main i{
    color: rgb(6, 99, 99);
    font-size: 25px;
    margin-top: 25px;

}
.main p{
color:#b6acac;

}
.fff{
    display: flex;
    justify-content: space-around;
}